.footer-social {
  display: none;
}

@media (min-width: $laptop) {
  .footer-social {
    margin: 0;
    padding: 0;
    list-style: none;

    width: 210px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 4.68%;
    margin-left: auto;

    position: relative;
  }
}

@media (min-width: $hd) {
  .footer-social {
    width: 295px;
  }
}
