.form-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  padding-left: 20px;
  padding-right: 38px;
  padding-top: 10px;
}

@media (min-width: $tablets) {
  .form-list {
    padding-top: 15px;
    padding-left: 32px;
    padding-right: 55px;
  }
}

@media (min-width: $laptop) {
  .form-list {
    padding-top: 13px;
    padding-left: 35px;
    padding-right: 38px;
  }
}
