.main-source {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: $slider-bg;

  padding-top: 20px;

  .button-cover {
    width: 72px;
    height: 28px;

    border: 4px solid #fff;
    border-radius: 14px;

    background-color: rgba(255, 255, 255, 0.5);

    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1)inset;
    -webkit-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1)inset;
    -moz-box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1)inset;
  }

  .button {
    position: relative;
    width: 100%;
    height: 20px;
    overflow: hidden;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }

  .knobs {
    z-index: 2;
  }

  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  /* Button 1 */
  #button-1 .knobs:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;

    background-color: #561786;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }

  #button-1 .checkbox:checked + .knobs:before {
    content: '';
    left: 44px;
    top: 0px;
    background-color: #561786;
  }

  #button-1 .checkbox:checked ~ .layer {
    background-color: #561786;
  }

  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }
}

@media (min-width: $tablets) {
  .main-source {
    padding-top: 30px;

    box-shadow:0px 0px 18px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow:0px 0px 18px 0px rgba(0,0,0,0.26);
    -moz-box-shadow:0px 0px 18px 0px rgba(0,0,0,0.26);

    .button-cover {
      width: 108px;
      height: 45px;

      border-radius: 22px;

      margin-left: 12px;
      margin-right: 10px;
    }

    .button {
      height: 36px;
    }

    #button-1 .knobs:before {
      width: 36px;
      height: 36px;
    }

    #button-1 .checkbox:checked + .knobs:before {
      left: 64px;
    }
  }
}

@media (min-width: $laptop) {
  .main-source {
    width: 100%;
    padding-top: 12px;

    .button-cover {
      display: none;
    }
  }
}

@media (min-width: $hd) {
  .main-source {
    padding-top: 12px;
  }
}
