.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 300px;
}

@media (min-width: $smartphones) {
  .main {
    width: 450px;
  }
}

@media (min-width: $tablets) {
  .main {
    padding-top: 32px;

    width: 650px;
  }
}

@media (min-width: $laptop) {
  .main {
    padding-top: 27px;

    width: 683px;
  }
}

@media (min-width: $hd) {
  .main {
    padding-top: 14px;

    width: 1004px;
  }
}
