.main-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  background-color: $form-bg;
}

@media (min-width: $tablets) {
  .main-form {
    padding-bottom: 7px;
  }
}
