@mixin container {
  min-width: $phones;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: $smartphones) {
    width: auto;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media (min-width: $tablets) {
    width: auto;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 34px;
  }
  @media (min-width: $laptop) {
    width: auto;
    max-width: 685px;
    margin: 0 auto;
    padding: 0;
  }
  @media (min-width: $netbooks) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $widebooks) {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 0 55px;
  }
  @media (min-width: $hd) {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 0 55px;
  }
}

/*Кастомные чекбоксы для фильра в десктопе*/

@mixin checkbox-default {
  display: block;
  cursor: pointer;

  position: relative;
  padding-left: 38px;

  position: relative;

  @media (min-width: $tablets) {
    padding-left: 54px;
  }

  @media (min-width: $laptop) {
    padding-left: 32px;
  }

  @media (min-width: $hd) {
    padding-left: 45px;
  }
}

@mixin checkbox-custom {
  position: absolute;
  content: '';

  display: block;
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
  border: 3px solid #ffffff;

  background-color: transparent;

  @media (min-width: $tablets) {
    width: 54px;
    height: 54px;

    border: 5px solid #ffffff;
  }

  @media (min-width: $laptop) {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $hd) {
    width: 45px;
    height: 45px;
  }
}

@mixin checkbox-checked {
  content: "";
  position: absolute;

  top: 2px;
  left: 3px;

  display: block;
  width: 33px;
  height: 33px;
  background-image: url('../img/tick.svg');
  background-size: 33px 33px;

  @media (min-width: $tablets) {
    width: 39px;
    height: 39px;

    top: 7px;
    left: 8px;

    background-size: 39px 39px;
  }

  @media (min-width: $laptop) {
    width: 22px;
    height: 22px;

    background-size: 22px 22px;

    top: 4px;
    left: 5px;
  }

  @media (min-width: $hd) {
    width: 33px;
    height: 33px;

    background-size: 33px 33px;

    top: 5px;
    left: 6px;
  }
}


@mixin radio-default {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;

  position: relative;

  width: 72px;
  height: 28px;
  border: 2px solid #ffffff;
  border-radius: 14px;
}

@mixin custom-radio {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 25px;
  height: 25px;
  border: none;

  border-radius: 50%;
  background-color: #561786;

}

@mixin radio-checked {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 25px;
  height: 25px;
  border: none;
}

@mixin soft-animation {
  transition-property: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}
