@mixin container {
  min-width: $phones;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: $smartphones) {
    width: auto;
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media (min-width: $tablets) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (min-width: $laptop) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  @media (min-width: $netbooks) {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $widebooks) {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 0 55px;
  }
  @media (min-width: $hd) {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    padding: 0 55px;
  }
}

/*Кастомные чекбоксы для фильра в десктопе*/

@mixin checkbox-default {
  display: block;
  cursor: pointer;

  position: relative;

  width: 38px;
  height: 38px;

  background-color: transparent;

  border: 2px solid #ffffff;
}

@mixin checkbox-checked {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  width: 33px;
  height: 33px;
  background-image: url('../img/tick.svg');
  background-size: 33px 33px;
}


@mixin radio-default {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;

  position: relative;

  width: 72px;
  height: 28px;
  border: 2px solid #ffffff;
  border-radius: 14px;
}

@mixin custom-radio {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 25px;
  height: 25px;
  border: none;

  border-radius: 50%;
  background-color: #561786;

}

@mixin radio-checked {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 25px;
  height: 25px;
  border: none;
}

@mixin soft-animation {
  transition-property: initial;
  transition-duration: 0.2s;
  transition-timing-function: initial;
  transition-delay: initial;
}
