.source-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 370px;

  flex-wrap: nowrap;

  &__channel {
    min-width: 112px;
    max-width: 112px;
    height: 112px;

    &:first-of-type {
      margin-left: 6px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: block;
  }

  .slick-disabled {
    opacity: 0.5 !important;
  }

  .prev-1 {
    position: absolute;
    top: 20%;
    left: -7.5%;

    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: 26px 41px;

    width: 26px;
    height: 41px;

    background-color: transparent;
    border: 0;

    z-index: 100;

    cursor: pointer;
    outline: none;
  }

  .next-1 {
    position: absolute;
    top: 20%;
    right: -7.5%;

    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 26px 41px;

    width: 26px;
    height: 41px;

    background-color: transparent;
    border: 0;

    z-index: 100;

    cursor: pointer;
    outline: none;
  }

  .prev-2 {
    position: absolute;
    top: 20%;
    left: -7.5%;

    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: 26px 41px;

    width: 26px;
    height: 41px;

    background-color: transparent;
    border: 0;

    z-index: 100;

    cursor: pointer;
    outline: none;
  }

  .next-2 {
    position: absolute;
    top: 20%;
    right: -7.5%;

    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: 26px 41px;

    width: 26px;
    height: 41px;

    background-color: transparent;
    border: 0;

    z-index: 100;

    cursor: pointer;
    outline: none;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 23px 0 23px 0;
    list-style-type: none;

    li {
      margin: 0 0.25rem;
    }

    button {
      display: block;
      width: 16px;
      height: 16px;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #ffffff;
      text-indent: -9999px;

      cursor: pointer;
      outline: none;
    }

    li.slick-active button {
      background-color: transparent;
      position: relative;
      width: 16px;
      height: 16px;
      background-color: #ffffff;

      cursor: pointer;
      outline: none;

      &::before {
        position: absolute;
        content: '';

        width: 25px;
        height: 25px;

        border: 2px solid #ffffff;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        background-color: transparent;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: $tablets) {
  .source-slider {
    width: 537px;

    &__channel {
      min-width: 163px;
      max-width: 163px;
      height: 164px;

      &:first-of-type {
        margin-left: 6px;
      }
    }
    .prev-1 {
      top: 24%;
      left: -7.5%;

      background-size: 38px 59px;

      width: 38px;
      height: 59px;
    }

    .next-1 {
      top: 24%;
      right: -7.5%;

      background-size: 38px 59px;

      width: 38px;
      height: 59px;

      cursor: pointer;
      outline: none;
    }

    .prev-2 {
      top: 24%;
      left: -7.5%;

      background-size: 38px 59px;

      width: 38px;
      height: 59px;
    }

    .next-2 {
      top: 24%;
      right: -7.5%;

      background-size: 38px 59px;

      width: 38px;
      height: 59px;

      cursor: pointer;
      outline: none;
    }

    .slick-dots {
      padding: 28px 0 28px 0;
      button {
        width: 21px;
        height: 21px;
      }

      li {
        margin: 0 0.5rem;
      }

      li.slick-active button {
        width: 21px;
        height: 21px;

        &::before {
          width: 39px;
          height: 39px;
        }
      }
    }
  }
}

@media (min-width: $laptop) {
  .source-slider {
    width: 571px;

    margin-bottom: 5px;

    &__channel {
      min-width: 101px;
      max-width: 101px;
      height: 102px;

      box-shadow:0px 0px 10px 0px rgba(0,0,0,0.15);
      -webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.15);
      -moz-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.15);

      &:first-of-type {
        margin-left: 6px;
      }

      &:nth-of-type(5n) {
        margin-right: 0;
      }
    }
    .prev-1 {
      top: 24%;
      left: -7.5%;

      background-size: 27px 42px;

      width: 27px;
      height: 42px;
    }

    .next-1 {
      top: 24%;
      right: -7.5%;

      background-size: 27px 42px;

      width: 27px;
      height: 42px;
    }

    .prev-2 {
      top: 24%;
      left: -7.5%;

      background-size: 27px 42px;

      width: 27px;
      height: 42px;
    }

    .next-2 {
      top: 24%;
      right: -7.5%;

      background-size: 27px 42px;

      width: 27px;
      height: 42px;
    }

    .slick-dots {
      padding: 10px 0 10px 0;
      button {
        width: 10px;
        height: 10px;
      }

      li {
        margin: 0 0.25rem;
      }

      li.slick-active button {
        width: 10px;
        height: 10px;

        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@media (min-width: $hd) {
  .source-slider {
    width: 800px;

    margin-bottom: 5px;

    &__channel {
      min-width: 132px;
      max-width: 132px;
      height: 132px;

    }
    .prev-1 {
      top: 24%;
      left: -7.5%;

      background-size: 39px 61px;

      width: 39px;
      height: 61px;
    }

    .next-1 {
      top: 24%;
      right: -7.5%;

      background-size: 39px 61px;

      width: 39px;
      height: 61px;
    }

    .prev-2 {
      top: 24%;
      left: -7.5%;

      background-size: 39px 61px;

      width: 39px;
      height: 61px;
    }

    .next-2 {
      top: 24%;
      right: -7.5%;

      background-size: 39px 61px;

      width: 39px;
      height: 61px;
    }

    .slick-dots {
      padding: 10px 0 10px 0;
      button {
        width: 10px;
        height: 10px;
      }

      li {
        margin: 0 0.25rem;
      }

      li.slick-active button {
        width: 10px;
        height: 10px;

        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
