.source-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  padding: 0;
  margin: 0;

  position: relative;

  &__title {
    display: none;
  }

  &--hometv {
    display: none;
  }
}

@media (min-width: $laptop) {
  .source-item {
    &__title {
      display: block;

      width: auto;

      font: {
        size: 2em;
        weight: 900;
        family: $main-font;
      }

      color: $text-orange;
      line-height: 1;

      margin: 0;
      margin-bottom: 10px;
    }

    &--hometv {
      display: flex;
    }
  }
}

@media (min-width: $hd) {
  .source-item {
    &__title {
      font: {
        size: 2em;
      }
    }
  }
}
