$phones: 320px;
$smartphones: 480px;
$tablets: 720px;
$laptop: 1024px;
$netbooks: 1366px;
$widebooks: 1600px;
$hd: 1920px;

$main-font: "Gotham Ultra", sans-serif;
$thin-font: "Gotham Extra Light", sans-serif;

$text-white: #fff;
$text-black: #000;
$text-gray: #252525;
$text-label: #34bfb7;
$text-input: #073f72;
$text-orange: #ffb32c;
$text-purple: #561786;
/*Цвета фона*/
$body-bg: #073f72;
$footer-bg: #252525;
$header-bg: #ff6700;
$title-bg: #ffb32c;
$form-bg: #561786;
$slider-bg: #ff6700;

/*Цвета интерфейса*/
$border-bg: #34bfb7;
$btn-enter: #073f72;
$btn-submit: #ff6700;
$single-header: #51c839;
$single-header-sent: #fcd726;
$single-delete: #ff626b;
$status-item: #51c839;
$start-btn: #b7b7b7;
$start-info: #34bfb7;
$social-item-bg: #ffffff;
$social-hover: #ff6700;
